/* font-family: "Gotham"; */
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamBook/GothamBook.eot");
	src: url("../fonts/GothamBook/GothamBook.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamBook/GothamBook.woff") format("woff"),
	url("../fonts/GothamBook/GothamBook.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamMedium/GothamMedium.eot");
	src: url("../fonts/GothamMedium/GothamMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamMedium/GothamMedium.woff") format("woff"),
	url("../fonts/GothamMedium/GothamMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamBold/GothamBold.eot");
	src: url("../fonts/GothamBold/GothamBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamBold/GothamBold.woff") format("woff"),
	url("../fonts/GothamBold/GothamBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
a,
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"],
select,
input[type="button"],
button{
	-webkit-transition: color .1s ease-in, border-color .1s ease-in, background-color .1s ease-in, opacity .1s ease-in;
	-moz-transition: color .1s ease-in, border-color .1s ease-in, background-color .1s ease-in, opacity .1s ease-in;
	transition: color .1s ease-in, border-color .1s ease-in, background-color .1s ease-in, opacity .1s ease-in;
}
strong, b{
	font-weight: 700;
}
body{
	font: 14px/1.4 "Gotham", Arial, sans-serif;
	color: #566375;
}
h2{
	font-family: "Gotham", Arial, sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 600;
}
h5{
	font-size: 24px;
	font-weight: 600;
}
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="submit"],
input[type="button"],
button,
.du-button{
	font:400 18px/56px "Gotham", Arial, sans-serif;
	padding: 0 33px;
	display: inline-block;
	height: 56px;
	border: 1px solid #95a5a7;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background: #fff;
	color: #566375;
}

input[type="submit"],
input[type="button"],
button,
.du-button{
	cursor: pointer;
}

select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus,
.du-button:focus{
	outline: none;
	border-color: #626e70;
}
.du-form-row + .du-form-row{
	margin-top: 20px;
}
.ba-container{
	max-width: 1020px;
	padding-left: 20px;
	padding-right: 20px;
}
.du-header{
	background: #ffffff;
	background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 51%, #E94E38 51%, #e94e38 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(51%,#ffffff), color-stop(51%,#E94E38), color-stop(100%,#e94e38));
	background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 51%,#E94E38 51%,#e94e38 100%);
	background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 51%,#E94E38 51%,#e94e38 100%);
	background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 51%,#E94E38 51%,#e94e38 100%);
	background: linear-gradient(to right,  #ffffff 0%,#ffffff 51%,#E94E38 51%,#e94e38 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e94e38',GradientType=1 );
}
.du-logo img{
	display: inline-block;
	vertical-align: middle;
}
.du-search{
	background-color: #e2dee0;
	width: 74px;
	font-size: 24px;
	text-align: center;
}
.du-search,
.du-login,
.du-logo,
.du-menu-toggle{
	height: 74px;
	line-height: 74px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.du-login{
	padding: 0 40px;
	background: #E94E38;
	font-size: 14px;
}
.du-login .fa{
	font-size: 18px;
}
.du-menu{
	background: #ffffff;
}
.du-menu a{
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 74px;
	height: 74px;
	text-transform: uppercase;
	text-decoration: none;
	color: #96a6a7;
	padding: 0 20px 0 0;
}
.du-menu a:hover{
	color: #E94E38;
}
.du-menu li{
	float: left;
}
.du-search-row{
	background: url('../img/search-bg.jpg') 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 38px 0;
}
.du-search-row h2{
	color: #fff;
	text-shadow: 0 1px 1px rgba( 0, 0, 0, .15 );
}

.du-search-row select,
.du-search-row input[type="text"],
.du-search-row input[type="password"],
.du-search-row input[type="email"],
.du-search-row input[type="number"],
.du-search-row input[type="tel"]{
	border-color: rgba(255, 255, 255, .2);
	background-color: rgba(255, 255, 255, .1);
	color: #fff;
}

.du-search-row select:focus,
.du-search-row input[type="text"]:focus,
.du-search-row input[type="password"]:focus,
.du-search-row input[type="email"]:focus,
.du-search-row input[type="number"]:focus,
.du-search-row input[type="tel"]:focus{
	border-color: rgba(255, 255, 255, .5);
	background-color: rgba(255, 255, 255, .3);
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding-right: 0;
}

.du-search-row select{
	background-image: url(../img/arrow-down.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.du-search-row select option{
	color: #555;
	background: #fff;
}

.du-search-row ::-webkit-input-placeholder {
	color: #fff;
}
.du-search-row :-moz-placeholder {
	color: #fff;
}
.du-search-row ::-moz-placeholder {
	color: #fff;
}
.du-search-row :-ms-input-placeholder {
	color: #fff;
}

.du-search-row input[type="submit"],
.du-search-row input[type="button"],
.du-search-row button,
.du-search-row .du-button{
	border: none;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	background-color: #e94e38;
	text-shadow: 0 1px 1px rgba(0,0,1,.15);
	font-weight: 600;
	-moz-box-shadow: 0 2px 0 #c1402e;
	-webkit-box-shadow: 0 2px 0 #c1402e;
	box-shadow: 0 2px 0 #c1402e;
}

.du-search-row input[type="submit"]:hover,
.du-search-row input[type="button"]:hover,
.du-search-row button:hover,
.du-search-row .du-button:hover{
	background-color: #ff543d;
}
.du-search-row input[type="submit"]:active,
.du-search-row input[type="button"]:active,
.du-search-row button:active,
.du-search-row .du-button:active{
	position: relative;
	top: 1px;
	-moz-box-shadow: 0 1px 0 #c1402e;
	-webkit-box-shadow: 0 1px 0 #c1402e;
	box-shadow: 0 1px 0 #c1402e;
}
.du-filter-row button,
.du-filter-row select,
.du-filter-row input[type="text"],
.du-filter-row input[type="password"],
.du-filter-row input[type="email"],
.du-filter-row input[type="number"],
.du-filter-row input[type="tel"]{
	border-color: rgba(255, 255, 255, .2);
	border: 1px solid #95a5a7;
	font: 400 14px/36px "Gotham", Arial, sans-serif;
	height: 36px;
	color:#96a6a7;
	vertical-align: middle;/*added*/
}

.du-filter-row select:focus,
.du-filter-row input[type="text"]:focus,
.du-filter-row input[type="password"]:focus,
.du-filter-row input[type="email"]:focus,
.du-filter-row input[type="number"]:focus,
.du-filter-row input[type="tel"]:focus{
	border-color: rgba(149, 165, 167, 0.50);
	background-color: #ebebeb;
}

.du-filter-row select{
	background-image: url(../img/arrow-down.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding:0 27px 0 20px;
	vertical-align: middle;/*added*/
}

.du-filter-row .ba-container{
	padding-left: 0;
	padding-right: 0;
}
.du-filter-items a{
	text-decoration:none;
	text-transform: uppercase;
	color:#96a6a7;
	font-weight: 600;
}

.du-filter-type,
.du-filter-items,
.du-filter-location {
	height: 60px;

}

.du-filter-items a:hover{
	color:#e94e38;
}

/* Filter */
.du-filter-row{
	border-bottom: 1px solid #E2DEE0;
	background-color: #ffffff;
/*	height: 60px;
	line-height: 60px;*/

}

.du-filter-type{
	text-align: right;
	font-size: 0;
}
.du-filter-location:before,
.du-filter-items:before,
.du-filter-type:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.du-filter-items a,
.du-filter-type label{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.du-filter-type .du-filter-label{
	font-size: 12px;
	font-weight: 600;
}
.du-filter-type i{
	display: block;
	background-color: #b6c0c1;
	background-position:  50% 48%;
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	-moz-transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
}
.du-filter-type label:hover i{
	opacity: .8;
}
.du-filter-type label input{
	display: none;
}
.du-filter-type-rent i{
	background-image: url(../img/filter-rent.png);
}
.du-filter-type-rent input:checked + i{
	background-color: #1BAF5D;
}
.du-filter-type-people input:checked + i{
	background-color: #6375ff;
}
.du-filter-type-people i{
	background-image: url(../img/filter-people.png);
}
.du-filter-type-education i{
	background-image: url(../img/filter-education.png);
}
.du-filter-type-education input:checked + i{
	background-color: #f84d58;
}
.du-filter-type-music i:hover::after{
	content: ' ';
	font-size: 12px;
}
.du-filter-type-music i{
	background-image: url(../img/filter-music.png);
	background-position:  48% 48% !important;
}
.du-filter-type-music input:checked + i{
	background-color: #F19E1F;
}
.du-filter-type-travel i{
	background-image: url(../img/filter-travel.png);
}
.du-filter-type-travel input:checked + i{
	background-color: #88499C;
}
/* Rating */
.du-rating{
	display: inline-block;
	direction: rtl;
	unicode-bidi: bidi-override;
}
.du-rating i{
	color:#f19e1f;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
.du-rating i:before {
	content: "\f006"; /* Open Star */
}
.du-rating i.active:before,
.du-rating i.active ~ i:before{
	content: "\f005"; /* Fill Star */
}
.du-rating:hover i:before{
	content: "\f006" !important; /* Fill Star */
}
.du-rating i:hover:before,
.du-rating i:hover ~ i:before{
	content: "\f005" !important; /* Fill Star */
}
/*Items*/
.du-items-row{
	padding:44px 0;
	background-color: #f3f1f2;
}
.du-item{
	background-color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;;
	border-radius:3px;
	-moz-box-shadow:0 1px 0 #e1dddf;
	-webkit-box-shadow:0 1px 0 #e1dddf;
	box-shadow:0 1px 0 #e1dddf;
	overflow:hidden;

}

.du-thumbnail,
.du-thumbnail img{
	display:block;
	width:100%;
}
.du-thumbnail{
	position:relative;
	border-bottom:3px solid;
	margin-bottom:31px;
}
.du-thumbnail .du-filter-type{
	position:absolute;
	display:block;
	text-align:center;
	bottom:0;
	width:56px;
	height: 56px;
	left:50%;
	-moz-transform: translate(-50%, 50%);
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);

}
.du-thumbnail .du-filter-type:before{
	display:none;
}
.du-thumbnail .du-filter-type i{
	width: 56px;
	height: 56px;
	-moz-box-shadow: 0 0 0 3px #fff;
	-webkit-box-shadow: 0 0 0 3px #fff;
	box-shadow: 0 0 0 3px #fff;
}
.du-price{
	position:absolute;
	right:10px;
	top:10px;
	font-size: 12px;
	padding:0 12px;
	font-weight: 600;
	color:#fff;
	height: 25px;
	line-height:25px;
	border-radius:12px;
	background: #1BAF5D;
}
.du-item-body{
	text-align:center;
	padding: 0 15px 15px 15px;
	line-height:1.3;
}
.du-desc{
	color:#556375;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
}
/*.du-item-travel .du-desc,
.du-item-music .du-desc{
	margin-bottom: 32px;
}*/
.du-title{
	text-transform:uppercase;
	font-weight: 600;
}

.du-item-rent .du-thumbnail{
	border-bottom-color:#1BAF5D;
}
.du-item-rent .du-thumbnail .du-filter-type i{
	background-color: #1BAF5D;
}
.du-item-rent .du-title{
	color:#1baf5d;
	font-weight: 600;
}

.du-item-music .du-thumbnail {
	border-bottom-color: #F19E1F;
}

.du-item-music .du-thumbnail .du-filter-type i{
	background-color: #F19E1F;
}
.du-item-music .du-title{
	color:#F19E1F;
	font-weight: 600;
}
.du-item-travel .du-thumbnail {
	border-bottom-color: #88499C;
}

.du-item-travel .du-thumbnail .du-filter-type i{
	background-color: #88499C;
}
.du-item-travel .du-title{
	color:#88499C;
	font-weight: 600;
}


.du-item-rent .club {
	border-bottom-color: #F19E1F!important;
}



.du-thumbnail .du-more{
	position: absolute;
	top:32%;
	padding:0 10px;
	font: 400 12px/31px "Gotham", Arial, sans-serif;
	height: 31px;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%) scale(.5);
	left:50%;
	opacity:0;
	transition: all .5s;

}
/*.du-thumbnail .du-rating-wrap{
	position: absolute;
	top:40%;
	left:10%;
}*/

.du-thumbnail:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	top: 0;
	background: rgba(27, 175, 93, 0.58);
	transition: all .3s;
}
.du-item-rent .du-thumbnail .du-more,
.du-item-music .du-thumbnail .du-more,
.du-item-travel .du-thumbnail .du-more{
	border-color:#fff;
	color:#fff;
}
.du-item-rent .du-thumbnail .du-more{
	background-color: #1BAF5D;
}

.du-item-music .du-thumbnail .du-more{
	background-color: #F19E1F;
}

.du-item-travel .du-thumbnail .du-more{
	background-color: #88499C;
}



.du-item-music .du-thumbnail:before{
	background: rgba(241, 158, 31, 0.58);
}
.du-item-travel .du-thumbnail:before{
	background: rgba(136, 73, 156, 0.59);
}
.du-thumbnail:hover:before{
	bottom:0;
}
.du-thumbnail:hover .du-more{
	transform: translateX(-50%) scale(1);
	opacity:1;
}
.du-thumbnail .du-rating{
	position: absolute;
	left:35%;
	top:62%;
	transform: translateX(-100%) scale(1);
	transition: transform .3s;
}
.du-thumbnail:hover .du-rating{
	transform: translateX(-50%) scale(1);
	opacity: 1;
}

.du-thumbnail .du-rating i,
.du-thumbnail .fa-comments-o{
	font-size:18px;
	color:#fff;
	opacity:0;
}

.du-thumbnail .fa-comments-o{
	position: absolute;
	top:60%;
	right:25%;
	font-size: 24px;
	transform: translateX(100%) scale(1);/*added*/
	opacity:0;/*added*/
	transition: transform .3s;/*added*/

}
.du-thumbnail:hover .fa-comments-o{
	transform: translateX(-50%) scale(1);/*added*/
	opacity:1;/*added*/
}

.du-thumbnail:hover .du-rating i,
.du-thumbnail:hover .fa-comments-o{
	opacity:1;


}

.du-thumbnail-comment .du-filter-type-rent i{
	background-color: #1BAF5D;
}
.du-item-rent .du-thumbnail-comment .club i{
	background-color: #F19E1F;
}
.du-thumbnail-comment .du-filter-type-rent i{
	position:absolute;
	display: block;
	text-align: center;
	bottom: 0;
	width: 56px;
	height: 56px;
	left: 0;
/*	background-color: #fff;*/
	-moz-transform: translate(-50%, 50%);
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}
.du-meta{
	position:absolute;
	height:55px;
	width:100%;
	bottom:0;
	left:0;
}

.du-meta{
	background: -moz-linear-gradient(top,  rgba(69,72,77,0) 0%, rgba(48,50,53,0) 26%, rgba(0,0,0,0.57) 85%, rgba(0,0,0,0.7) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0)), color-stop(26%,rgba(48,50,53,0)), color-stop(85%,rgba(0,0,0,0.57)), color-stop(98%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0) 0%,rgba(48,50,53,0) 26%,rgba(0,0,0,0.57) 85%,rgba(0,0,0,0.7) 98%);
	background: -o-linear-gradient(top,  rgba(69,72,77,0) 0%,rgba(48,50,53,0) 26%,rgba(0,0,0,0.57) 85%,rgba(0,0,0,0.7) 98%);
	background: -ms-linear-gradient(top,  rgba(69,72,77,0) 0%,rgba(48,50,53,0) 26%,rgba(0,0,0,0.57) 85%,rgba(0,0,0,0.7) 98%);
	background: linear-gradient(to bottom,  rgba(69,72,77,0) 0%,rgba(48,50,53,0) 26%,rgba(0,0,0,0.57) 85%,rgba(0,0,0,0.7) 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045484d', endColorstr='#b3000000',GradientType=0 );



}


.du-item .du-thumbnail-comment{
	position:relative;
	border-bottom:3px solid;
	margin-bottom:13px;
}
.du-item .du-thumbnail-comment .du-filter-type{
	position:absolute;
	display:block;
	text-align:center;
	bottom:26px;
	width:56px;
	height: 56px;
	left:78px;
	-moz-transform: translate(-50%, 50%);
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);

}
.du-thumbnail-comment,
.du-thumbnail-comment img{
	display:block;
	width:100%;
}

.du-item-rent .du-thumbnail-comment{
	border-color:#1BAF5D;
}

.du-item .du-thumbnail-comment .du-filter-type i{
	width: 56px;
	height: 56px;
	-moz-box-shadow: 0 0 0 3px #fff;
	-webkit-box-shadow: 0 0 0 3px #fff;
	box-shadow: 0 0 0 3px #fff;
}
.du-item .du-thumbnail-comment h3{
	font-family: "Gotham", Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	color:#fff;
	position:absolute;
	bottom:10px;
	left:21%;
}
.du-thumbnail-comment .du-rating {
	position: absolute;
	bottom:12px;
	left:53%;

}
.du-item-rent .du-thumbnail-comment .du-vote-count{
	position: absolute;
	bottom:12px;
	left:67%;
	color:#fff;
}


.du-user-name{
	font-family: "Gotham", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	color:#566375;
	text-transform: uppercase;
	margin-top:10px;

}
.du-comment{
	margin-top: 12px;
	margin-left:84px;
	/*margin-bottom:20px;*/
	font-size: 14px;

}
.du-item-body-comment{
	text-align:left;
	padding: 5px 15px 15px 15px;
	line-height:1.3;


}
.du-item-body-comment .du-user-avatar{
	float:left;
	margin:0 20px 0 5px;
	position: relative;
	padding-top:30px;

}

.du-item-body-comment .du-user-avatar:before{
	position: absolute;
	display: block;
	content: '';
	width:2px;
	height: 15%;
	background: #f3f1f2;
	top:13px;
	left:50%;
	margin-left:-1px;
	z-index:0;
}

.du-item-body-comment a{
	color:#566375;

}
.load-more a{
	font-weight: 600;
	color:#566375;
	font-size: 18px;
	text-align:center;
	display:block;
	margin-top:35px;



}
.load-more{
	position:relative;

}
.load-more:after{
	content: '';
	position:absolute;
	top:55px;
	left:0;
	width:100%;
	border-bottom: 1px solid #e2dee0;

}
.du-services-row{
	background:#f3f1f2;
	padding: 35px 0 145px 0;
}
.du-services-row h4{
	font-size: 22px;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 15px;
}
.icons-line{
	margin:70px 20px 35px 20px;

}
.icons-line .rent:before,
.icons-line .people:before,
.icons-line .education:before,
.icons-line .music:before {
	content: '';
	position:absolute;
	top:50%;
	left:110%;
	width:60%;
	height: 2px;
	border-bottom: 1px solid #e2dee0;
	z-index: 0;

}

.icons-line div[class*="ba-border"]{
	float:left;
	height: 104px;
	width: 104px;
	margin-left:20px;


}
.icons-line img{
	 padding:26px 22px;

}
.icons-line img.education{
	padding:33px 22px;
}
.icons-line img.music{
	margin-left:-5px;
}

.ba-border-circle{
	border:2px solid #9dacad;
	z-index:1000;
	width: 62px;
	height: 62px;
	line-height: 62px;
	text-align: center;

}
.icons-line .rent{
	border-color:#1BAF5D;

}
.icons-line .people:hover{
	border-color: #6375ff;
	transition: border-color .4s;

}
.icons-line .education:hover{
	border-color:#f84d58;
	transition: border-color .4s;
}
.icons-line .music:hover{
	border-color:#F19E1F;
	transition: border-color .4s;
}
.icons-line .travel:hover{
	border-color:#88499C;
	transition: border-color .4s;
}

.du-services-row h5{
	color:#1baf5d;
}

.fa-bolt,
.fa-leaf{
	color:#fff;
	background-color:#1baf5d;
	border-color:#1baf5d;
	font-size: 30px;
}

.special-grid{
	padding:0 45px;
}
.icon{
	float:left;
	margin-top:38px;
}

.content{
	margin-top:35px;
	padding-right:40px;
	line-height: 1.5;
	margin-left:95px;
}

.du-services-row .ba-grid-nopad{
	padding-left:83px;
	padding-right: 83px;
}


/*------FOOTER*/
.footer-row{
	background: url('../img/footer-bg-1.jpg') 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 60px 0 65px 0;
}
.footer-row h5{
	color:#fff;
	margin-bottom: 46px;
}
.email-field{
	height: 60px;
	width: 492px;
	border-radius:30px;
	border:1px solid #5d656a;
	background: rgba(79, 85, 89, .8);
	vertical-align: middle;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:55px;

}
.footer-row .ba-grid{
	position: relative;
	padding-top:44px;
}
.footer-row .ba-grid:before{
	content:'';
	height: 2px;
	width:100%;
	border-bottom:1px solid rgba(150, 166, 167, .1);
	position: absolute;
	top:0;
	left:0;
}

.du-button-subscribe{
	text-decoration: none;
	color:#fff;
	font-weight: 600;
	padding: 0 15px;
	border-radius:30px;
	background: #e94e38;
	float:right;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e94e38;
	margin:4px;
	font-size:14px;
}
.du-button-subscribe:active {
	position: relative;
	top: 1px;
	-moz-box-shadow: 0 1px 0 #c1402e;
	-webkit-box-shadow: 0 1px 0 #c1402e;
	box-shadow: 0 1px 0 #c1402e;

}
.du-button-subscribe:focus{
	outline: none;
	border-color: #e94e38;
}
.fa-envelope-o{
	font-size: 18px;
	color:#fff;
	float:left;
	margin:22px;
	vertical-align: middle;
}
.footer-row input[type="email"]{
	background: transparent;
	border:none;
	float:left;
	padding: 0;
	color:#fff;
}
.du-menu-footer{
	color:#c0bebc;

}.footer-row ul li{
	line-height:1.5;
 }
.footer-row ul li:first-child{
	margin-bottom:25px;
}
.footer-row span{
	color:#fff;
	font-weight: 600;
	text-decoration: underline;
	padding-bottom:30px;
}

.footer-row .ba-grid .fa{
	font-size: 30px;
	color:#fff;
	margin-top:20px;
	margin-right:20px;
}
.footer-row .ba-grid .fa:hover{
	color: #747674;
	transition: color .5s;
}
.footer-row .copyright{
	font-family: 'Gotham', Arial, sans-serif;
	color:#d0cfce;
	margin-top:59px;
}